﻿.change_btn{padding:0;text-align:center;font-size:12px;}
html,body,p{padding:0;margin:0;}
.change_btn img.icon{width:32px;height:32px;background:url(../products_details_files/images/btn_trans.gif?id=201104131414) 0 0;border:none;}
.change_btn .number{position:relative;display:inline-block;height:22px;margin-bottom:8px;padding-left:6px;background:url(../products_details_files/images/btn_trans.gif?id=201104131414) 0 -98px no-repeat;}
.change_btn .number em{position:relative;display:inline-block;height:22px;margin-right:-1px;padding-right:5px;background:url(../products_details_files/images/btn_trans.gif?id=201104131414) right -98px no-repeat;font-family:verdana;font-size:11px;font-style:normal;line-height:22px;z-index:2;}
.change_btn img.arrow{position:absolute;width:5px;height:4px;left:50%;bottom:-3px;margin-left:-2px;background:url(../products_details_files/images/btn_trans.gif?id=201104131414) -10px -136px no-repeat;z-index:3;}
.change_btn .type2 p{text-align:left;}
.change_btn .type2 img.icon{width:24px;height:24px;background-position:0 -32px;}
.change_btn .type2 .number{float:left;height:24px;margin:0 0 -24px 29px;padding-left:9px;background-position:0 -74px;}
.change_btn .type2 .number em{height:24px;padding-right:9px;background-position:right -74px;line-height:24px;}
.change_btn .type2 img.arrow{position:absolute;width:5px;height:7px;left:-2px;top:8px;background-position:-20px -136px;}
.change_btn .type3 p{text-align:left;}
.change_btn .type3 img.icon{width:16px;height:16px;background-position:0 -56px;}
.change_btn .type3 .number{float:left;height:16px;margin:0 0 -24px 19px;padding-left:5px;background-position:0 -120px;}
.change_btn .type3 .number em{height:16px;padding-right:5px;background-position:right -120px;line-height:16px;}
.change_btn .type3 img.arrow{position:absolute;width:3px;height:5px;left:0;top:6px;background-position:-30px -136px;}
.change_btn .type4{text-align:right;}
.change_btn .type4 p{text-align:center;}
.change_btn .type4 img.icon{width:142px;height:32px;background-position:-32px 0;}
.change_btn .type4 .number{height:24px;margin:0 1px 10px 0;padding-left:10px;background-position:0 -74px;}
.change_btn .type4 .number em{height:24px;padding-right:11px;background-position:right -74px;line-height:24px;font-size:13px;}
.change_btn .type4 img.arrow{position:absolute;width:9px;height:7px;left:auto;right:5px;bottom:-6px;background-position:0 -136px;}
.change_btn .type5{text-align:right;}
.change_btn .type5 p{text-align:center;}
.change_btn .type5 img.icon{width:106px;height:24px;background-position:-32px -32px;}
.change_btn .type5 .number{height:22px;margin:0 1px 5px 0;padding-left:9px;background-position:0 -98px;}
.change_btn .type5 .number em{height:22px;padding-right:9px;background-position:right -98px;line-height:22px;}
.change_btn .type5 img.arrow{position:absolute;left:auto;right:7px;background-position:-10px -136px;}
.change_btn .type6{text-align:right;}
.change_btn .type6 p{text-align:center;}
.change_btn .type6 img.icon{width:86px;height:18px;background-position:-32px -56px;}
.change_btn .type6 .number{height:22px;margin:0 3px 6px 0;padding-left:9px;background-position:0 -98px;}
.change_btn .type6 .number em{height:22px;padding-right:9px;background-position:right -98px;line-height:22px;}
.change_btn .type6 img.arrow{position:absolute;left:auto;right:7px;background-position:-10px -136px;}
.change_btn .type7{text-align:right;}
.change_btn .type7 p{text-align:center;}
.change_btn .type7 img.icon{width:24px;height:24px;background-position:0px -143px;}
.change_btn .type7 img.icon:hover{background-position:-25px -143px;}
.change_btn .number{display:none;}
.change_btn .showNum .number{display:inline-block;}
.change_btn p a{outline:none;}