.banner-rotator,
.wt-rotator{
font-family:Arial,Helvetica,sans-serif;
font-size:14px;
background:none;
background-color:#000;
position:relative;
width:0;
height:0;
overflow:hidden;
}
.banner-rotator img{
max-width:none;
max-height:none;
}
.banner-rotator a{
outline:none;
}
.banner-rotator .screen{
position:relative;
top:0;
left:0;
width:825px;
height:300px;
background:url(../assets/spacer.png) center repeat;
overflow:hidden;
}
.banner-rotator .strip{
display:block;
position:absolute;
top:0;
left:0;
z-index:0;
overflow:hidden;
}
.banner-rotator .content-box{
visibility:hidden;
position:absolute;
top:0;
left:0;
overflow:hidden;
}
.banner-rotator .content-box img{
display:block;
}
.banner-rotator .main-img{
display:none;
position:absolute;
top:0;
left:0;
z-index:0;
border:0;
max-width:none;
max-height:none;
}
.banner-rotator .preloader{
position:absolute;
top:50%;
left:50%;
width:40px;
height:40px;
margin-top:-20px;
margin-left:-20px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
background:#000 url(../assets/loader.gif) center no-repeat;
background:rgba(0,0,0,.7) url(../assets/loader.gif) center no-repeat;
z-index:4;
display:none;
}
.banner-rotator .timer{
position:absolute;
left:0;
height:4px;
background-color:#FFF;
-moz-opacity:.5;
filter:alpha(opacity=50);
opacity:0.5;
z-index:4;
visibility:hidden;
font-size:0;
}
.banner-rotator .desc{
position:absolute;
color:#FFF;
z-index:6;
overflow:hidden;
visibility:hidden;
text-align:left;
}
.banner-rotator .inner-bg{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-color:#000;
-moz-opacity:.7;
filter:alpha(opacity=70);
opacity:.7;
z-index:0;
}
.banner-rotator .inner-text{
position:relative;
top:0;
left:0;
padding:10px;
width:auto;
height:auto;
z-index:1;
}

.banner-rotator .c-panel{
position:absolute;
z-index:8;
visibility:hidden;
width:100px;

}
.banner-rotator .outer-hp,
.banner-rotator .outer-vp{
position:absolute;
background:#333;
background:-moz-linear-gradient(#444, #111);
background:-webkit-gradient(linear, 0 top, 0 bottom, from(#444), to(#111));
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#111111',GradientType=0);
border:1px solid #000;
}
.banner-rotator .outer-hp{
left:0;
width:100%;
border-left:none;
border-right:none;
}
.banner-rotator .outer-vp{
top:0;
height:100%;
border-top:none;
border-bottom:none;
}
.banner-rotator .back-scroll,
.banner-rotator .fwd-scroll{
position:absolute;
top:0;
left:0;
z-index:10;
background:url(../assets/spacer.png) no-repeat;
}
.banner-rotator .thumbnails,
.banner-rotator .buttons{
display:inline;
position:relative;
float:left;
overflow:hidden;
}
.banner-rotator .thumbnails ul{
position:relative;
list-style:none;
margin:0;
padding:0;
}
.banner-rotator .thumbnails ul.inside{
position:absolute;
top:0;
left:0;
}
.banner-rotator .thumbnails li,
.banner-rotator .play-btn,
.banner-rotator .prev-btn,
.banner-rotator .next-btn{
position:relative;
list-style:none;
display:inline;
float:left;
overflow:hidden;
width:24px;
height:24px;
line-height:24px;
text-align:center;
color:#EEE;
text-shadow: 0 1px 0 #222;
background-color:#000;
background:-moz-linear-gradient(#333, #000);
background:-webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
border:1px solid #111;
cursor:pointer;
font-size:12px;
font-weight:bold;
background-repeat:no-repeat !important;
background-position:center !important;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}
.banner-rotator .thumbnails li:hover{
color:#FFF;
text-shadow: 0 1px 0 #888;
background-color:#CCC;
background:-moz-linear-gradient(#CCC, #999);
background:-webkit-gradient(linear, 0 top, 0 bottom, from(#CCC), to(#999));
}
.banner-rotator .thumbnails li.curr-thumb{
color:#000;
text-shadow: 0 1px 0 #fff;
background-color:#FFF;
background:-moz-linear-gradient(#FFF, #E0E0E0);
background:-webkit-gradient(linear, 0 top, 0 bottom, from(#FFF), to(#E0E0E0));
cursor:default;
}
.banner-rotator .thumbnails li.image{
background:#000;
-moz-border-radius:0;
-webkit-border-radius:0;
border-radius:0;

}
.banner-rotator .thumbnails li.image.curr-thumb,
.banner-rotator .thumbnails li.image:hover{
border-color:#06F;
}
.banner-rotator .thumbnails li.image a{
display:block;
border:0;
}
.banner-rotator .thumbnails li.image a img{
display:block;
border:0;
position:absolute;
-moz-opacity:.85;
opacity:0.85;
max-width:none;
max-height:none;
}
.banner-rotator .thumbnails li.image:hover a img{
-moz-opacity:1;
opacity:1;
}
.banner-rotator .thumbnails li.image.curr-thumb a img{
-moz-opacity:1;
opacity:1;
cursor:default;
}
.banner-rotator .thumbnails li *{
display:none;
}
.banner-rotator .thumbnails li div{
position:relative;
top:0;
left:0;
color:#FFF;
background-color:#000;
width:0;
height:0;
padding:10px;
z-index:0;
}
.banner-rotator .play-btn{
background:#000 url(../assets/play.png);
background:url(../assets/play.png), -moz-linear-gradient(#333, #000);
background:url(../assets/play.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.banner-rotator .play-btn:hover{
background-color:#CCC !important;
background:url(../assets/play.png), -moz-linear-gradient(#CCC, #999);
background:url(../assets/play.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#CCC), to(#999));
}
.banner-rotator .pause{
background:#000 url(../index_files/assets/pause.png);
background:url(../index_files/assets/pause.png) , -moz-linear-gradient(#333, #000);
background:url(../index_files/assets/pause.png) , -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.banner-rotator .pause:hover{
background-color:#CCC !important;
background:url(../index_files/assets/pause.png) , -moz-linear-gradient(#CCC, #999);
background:url(/assets/pause.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#CCC), to(#999));
}
.banner-rotator .prev-btn{
background:#000 url(../assets/prev.png);
background:url(../assets/prev.png), -moz-linear-gradient(#333, #000);
background:url(../assets/prev.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.banner-rotator .prev-btn:hover{
background-color:#CCC !important;
background:url(../assets/prev.png), -moz-linear-gradient(#CCC, #999);
background:url(../assets/prev.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#CCC), to(#999));
}
.banner-rotator .next-btn{
background:#000 url(../assets/next.png);
background:url(../assets/next.png), -moz-linear-gradient(#333, #000);
background:url(../assets/next.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.banner-rotator .next-btn:hover{
background-color:#CCC !important;
background:url(../assets/next.png), -moz-linear-gradient(#CCC, #999);
background:url(../assets/next.png), -webkit-gradient(linear, 0 top, 0 bottom, from(#CCC), to(#999));
}
.banner-rotator .up{
background:#000 url(../index_files/assets/up.png);
background:url(../index_files/assets/up.png) , -moz-linear-gradient(#333, #000);
background:url(../index_files/assets/up.png) , -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.banner-rotator .up:hover{
background-color:#CCC !important;
background:url(../index_files/assets/up.png) , -moz-linear-gradient(#CCC, #999);
background:url(../index_files/assets/up.png) , -webkit-gradient(linear, 0 top, 0 bottom, from(#CCC), to(#999));
}
.banner-rotator .down{
background:#000 url(../index_files/assets/down.png);
background:url(../index_files/assets/down.png) , -moz-linear-gradient(#333, #000);
background:url(../index_files/assets/down.png) , -webkit-gradient(linear, 0 top, 0 bottom, from(#333), to(#000));
}
.banner-rotator .down:hover{
background-color:#CCC !important;
background:url(../index_files/assets/down.png) , -moz-linear-gradient(#CCC, #999);
background:url(../index_files/assets/down.png) , -webkit-gradient(linear, 0 top, 0 bottom, from(#CCC), to(#999));
}
.rotator-tooltip{
position:absolute;
top:0;
left:0;
z-index:99999;
display:none;
overflow:hidden;
width:auto;
height:auto;
}
.rotator-tooltip.txt-up{
margin-left:-10px;
margin-bottom:5px;
background:url(../index_files/assets/vtip.png) no-repeat;
background-position:10px bottom;
background-position-x:10px;
background-position-y:bottom;
}
.rotator-tooltip.txt-down{
margin-left:-10px;
margin-top:24px;
background:url(../index_files/assets/vtip.png) no-repeat;
background-position:10px top;
background-position-x:10px;
background-position-y:top;
}
.rotator-tooltip.img-up{
line-height:0;
background:url(../index_files/assets/vtip.png) center bottom no-repeat;
}
.rotator-tooltip.img-down{
line-height:0;
background:url(../index_files/assets/vtip.png) center top no-repeat;
}
.rotator-tooltip.img-right{
line-height:0;
background:url(../index_files/assets/htip.png) left center no-repeat;
}
.rotator-tooltip.img-left{
line-height:0;
background:url(../index_files/assets/htip.png) right center no-repeat;
}
.rotator-tooltip .tt-txt{
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
color:#FFF;
background-color:#000;
padding:5px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
margin:8px 0;
overflow:hidden;
}
.rotator-tooltip .img-frame{
position:relative;
background-color:#000;
border:#000 solid 3px;
margin:8px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px;
overflow:hidden;	
}
.rotator-tooltip img.tt-img{
z-index:-1;
display:none;
position:relative;
max-width:none;
max-height:none;
}
.banner-rotator .s-prev,
.banner-rotator .s-next{
position:absolute;
top:0;
width:40px;
height:100%;
cursor:pointer;
background:url(../index_files/assets/large_buttons.png) center no-repeat;
-moz-opacity:.8;
opacity:.8;
z-index:7;
}
.banner-rotator .s-prev{
left:0;
background-position:0 center;
}
.banner-rotator .s-next{
left:100%;
margin-left:-40px;
background-position:-40px center;
}
.banner-rotator .s-prev:hover,
.banner-rotator .s-next:hover{
-moz-opacity:1;
opacity:1;
background-color:transparent !important;
}
.banner-rotator .block,
.banner-rotator .vpiece,
.banner-rotator .hpiece{
position:absolute;
z-index:2;
}