﻿html, body, div
 {
  margin: 0;
  padding: 0;   
 }
 
  a:link{ text-decoration:none; color:#78bc27;}
  a:visited{ text-decoration:none;  color:#78bc27;}
  a:hover{ text-decoration:none; color:#78bc27;}
  a:active{ text-decoration:none; color:#78bc27;}

 body
 {
     background-color: #f5f6f7;
 }
 ul
 {
   list-style-type:none;   
 }
 li {list-style: none;}
        
.jc_mian
{
  width:1200px;
  margin:0 auto;
  background-color:#f5f6f7;
}

.jc_body
{
  width:1000px;
  margin:0 auto; 

}

.jc_top
{
   float:left;
   width:100%;
}

.top_tb1
{
  width:1000px;
  height:65px;   
    
}

.jc_search
{ 
 float:right;
 margin-right:10px;
}

.jc_search_bg
{ 
 float:right;
 margin-right:10px;
}

.searchbox1
{
 outline:none; padding:3px 5px 3px 5px;border-radius: 8px; width:150px;
 display:inline;
 height:12px;
 background-color:#CDD3D8;	
}

.search_sp1
{
 float:left;
 margin-left:15px;
}

.search_sp1 img
{
    width:20px;
    height:20px;
}

.search_sp2
{
 float:left;
 margin-left:10px;
}

.search_sp3
{
 float:left;
 font-size:12px;
 font-family:Verdana;
 margin-left:10px;
}


/* 导航栏 */

.jc_xxx
{   
   position:relative;
   z-index:9999px;
   width:1000px;
   float:left;
}

.jc_menu_x
{
 background:#000000;
 height:5px;
 width:100px;
 position:absolute;
 display:none;
 	
}

.jc_menu
{
 width:1000px;
 height:40px;
 margin:0 auto;
 background-color:#a1aab1;
}

.menu1
{
 width:900px;
  margin:0 auto;
}

#menu1 ul
{

	list-style-type:none;
	margin:0;
	padding:0;
	margin-left:94px;
	
}

#menu1 ul li
{
 cursor:pointer;
 font-family:Verdana;
 font-size:14px;
 color:#fff;
 float:left;
 text-align:center;
 width:100px;
 height:40px;
 line-height:40px;
 margin-right:55px;
/* border-top:5px solid #fff; */
}

#jc_ul1 a:link{ text-decoration:none; color:#fff;}
#jc_ul1 a:visited{ text-decoration:none;  color:#fff;}
#jc_ul1 a:hover{ text-decoration:none; color:#fff;}
#jc_ul1 a:active{ text-decoration:none; color:#fff;}

#jc_ul1x a:link{ text-decoration:none; color:#fff;}
#jc_ul1x a:visited{ text-decoration:none;  color:#fff;}
#jc_ul1x a:hover{ text-decoration:none; color:#fff;}
#jc_ul1x a:active{ text-decoration:none; color:#fff;}




/*   */

.lh1{ line-height:20px; height:20px;}
.lh1 img { vertical-align:middle; margin-left:8px;}
.bo{ border:1px solid #ff0000;}
.cl{ float:left;}
.cr{ float:right; margin-right:-20px; margin-top:50px;}

.pt{ position:absolute;}
.tl001{ height:32px; line-height:32px;}
#news
{
  width:100%;
  height:30px;
  float:left;
  font-family:Verdana;
  font-size:12px;
  color:#878787;   
}
#news ul li{height:30px; line-height:30px;}
#news ul li .s1{ width:335px; float:left;text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
#news ul li .s1 a{ color: #999;}
#news ul li .s2{ width:100px; float:left; margin-left:10px;}

.link div ul li{height:30px; line-height:30px;}
.link div ul{ width:190px; float:left;}
.link div ul li a{  color:#999999;}
.ts_sharp{ cursor:pointer; margin-left:10px; margin-right:10px;	}
.ts_sharp1{ cursor:pointer; margin-left:10px; margin-right:10px; float:right;font-family:Verdana; font-size: 12px; color: #cc0000;}
.news_sp1
{
 margin-left:10px;
 margin-right:10px;	
 float:right;
 font-family:Verdana;
 font-size: 12px;
  color: #cc0000;
}

.td_title1
{
 font-size:16px;
 font-weight:bold;	
}

.jc_body_2
{
 width:804px;
 height:150px;
 margin:0 auto;
 border-top:1px solid #999;
 font-family:Verdana;
 font-size:12px;
 color:#999999;
 margin-top:20px;
}

/* whatnews */
.jc_whatnews
{
  width:100%; 
  float:left;
  margin-top:5px;
}
.wnewsdiv1
{
   float: left; 
   width: 998px; 
   height: 310px; 
   border-left: 1px solid #eeeeee;
   border-right: 1px solid #eeeeee; 
   border-top: 1px solid #eeeeee; 
   background-color:#fff;
}
.wnewsdiv2
{
  float: left; 
  width: 998px; 
  height: 233px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee; 
  border-bottom: 1px solid #eeeeee; 
 
}

.wnewsimg0
{
  float: left; 
  width: 310px; 
  height: 233px;
  margin-left:10px; 

}
.wnewsimg1
{
    float: left; 
    width: 310px; 
    height: 233px;
    margin-left:25px;
    margin-right:25px;
 
}
.wnewsimg2
{
    float: left;
    width: 310px;
    height: 233px;
   
}
.wnestitle
{
   margin-top:25px;
  float:left;
  width: 300px;  
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden;
  font-family:Verdana;
  font-size:16px;
  color:#78bc27; 

}

.wnespic
{
  margin-top:20px;
  float:left;
 
}
/* News */

.jc_news
{
  width:998px;
  height:200px;
  float:left;
  margin-top:5px;
  background-color:#fff;
  border:1px solid #eeeeee;
}

.news_divl
{
  width:45%;
  float:left; 
  margin-top:15px;
  margin-left:10px;
}

#divl_title a:link{ text-decoration:none; color:#78bc27;}
#divl_title a:visited{ text-decoration:none;  color:#78bc27;}
#divl_title a:hover{ text-decoration:none; color:#78bc27;}
#divl_title a:active{ text-decoration:none; color:#78bc27;}

.news_divr
{
  width:45%;
  float:right;
  margin-top:15px;  
}

.divl_title
{
  width:100%;
  float:left;  
}

.divr_title
{
    
  width:100%;
  float:right;  
}

.jc_news_sp1
{
 font-family:Verdana;
 font-size:16px;
 color:#78bc27;
 font-weight:bold;   
 width:100px;
 float:left;
}

.jc_news_sp2
{
 font-family:Verdana;   
 font-size:14px;
 width:50px;
 float:right; 

}

.newsbody
{
  width:100%;
  float:left; 
  margin-top:10px;
}
.newsdiv1
{
  width:100%;
  height:30px;
  float:left;
  font-family:Verdana;
  font-size:12px;
  color:#878787;
}
.newsp1
{
  margin-right:5px; 
}

.newsp2
{
    
    
}

.newsp3
{
  float:right;  
}

.linksbody
{
  width:100%;
  float:left; 
  margin-top:10px;
    
}
.linksdiv1
{
  font-size:12px;
  font-family:Verdana;
  width:100%;
  height:30px;
  line-height:30px;
  float:left;
  
}
.linksp1
{
 width:130px;
 float:left;
}
.linksp2
{
 width:130px;
 float:left;
 margin-left:25px;
 margin-right:25px;
}
.linksp3
{
 width:130px;
float:left;
}

#linksbody a:link{ text-decoration:none; color:#878787;}
#linksbody a:visited{ text-decoration:none;  color:#878787;}
#linksbody a:hover{ text-decoration:none; color:#78bc27;}
#linksbody a:active{ text-decoration:none; color:#878787;}


/* footer */

.jc_footer
{
  width:1000px;
  height:100px;
  float:left;
  margin-top:30px;  
}

.footer_img
{
  width:21px;
  margin-left:2px;
  margin-right:2px;
}

/* about */
.jc_body_ab
{
 width:998px;
 height:480px;
 margin:5px auto;	
 display:none;
 float:left;
 background-color:#fff;
 border:1px  solid #eeeeee;
}

.jc_ab_logo1
{
	
	width:141px;
	height:72px;
	 position:relative;
	 left:120px;
	 top:190px;
	 
	
	
}

.jc_ab_menu
{

	width:440px;
	font-family:Verdana;
	font-size:13px;
	color:#fff;
	position:relative;
	left:400px;
	top:50px;
	float:left;
	 
}

.ab_sp1
{
 width:140px;
 height:20px;
 float:left;
 text-align:center;
 cursor:pointer;
 background-color:#a1aab1;
 margin-left:2px;
 margin-right:2px;

}

.jc_text1
{
	float:left;
	 width:440px;
	 font-family:Verdana;
	 font-size:12px;
	 color:#000;
	 line-height:24px;
	 position:relative;
	 left:-42px;
	 top:80px;
}

/* Contact */
.jc_body_c
{
 width:998px;
 height:480px;
 margin:5px auto;	
 display:none;
 float:left;
 background-color:#fff;
 border:1px solid #eee;
}

.jc_c_left
{
 width:540px; 
 height:480px;
  float:left;

}

.jc_c_right
{
 width:302px; 
 height:480px; 
 margin-left:50px;
 float:left;
 
}

.c_lxdz1
{
 font-family:Verdana;
 font-size:12px;
 line-height:25px;
 position:relative;
 top:60px;
 	
}

.c_lxdz2
{
 font-family:Verdana;
 font-size:12px;
 line-height:25px;
 position:relative;
 top:90px;
 	
}

.c_lxdz3
{
 font-family:Verdana;
 font-size:12px;
 line-height:25px;
 position:relative;
 top:130px;
 	
}

/* products */

.jc_body_p
{
 width:998px;
 height:560px;
 margin:5px auto;	
 display:none;
 float:left;
 background-color:#fff;
 border:1px solid #eeeeee;
}


.jc_picp1
{
width: 356px; 
height: 232px; 
float: left;
color:#78bc27;
margin-top:30px;
margin-left:10px;

}

.pic_sp1_p
{
 width:98%;
 float:left;
 font-family:Verdana;
 font-size:14px;
 text-align:center;
 margin-top:3px;

}

.jc_p_left
{
 width:750px; 
 height:480px;
  float:left;
}

.jc_p_right
{
 width:230px; 
 height:480px; 
margin-top:20px;
 float:left;	
}

#sort_ul li
{
  height:28px;
  line-height:28px;
 	
}

#sort_ul a
{
    
  font-size: 12px;font-family:Verdana; color: #999999;  
}

#coll_ul li
{
	 height:28px;
  line-height:28px;
}

#coll_ul a
{
    font-size: 12px;font-family:Verdana; color: #999999;
}

.collections
{
  margin-top:60px;   
}

/* pro */

.jc_pro_main
{
 width:998px;
 float:left;
 background-color:#fff;
 margin-top:5px;
  border:1px solid #eeeeee;
}

.jc_body_pro
{
 width:950px;
 margin:0 auto;

}

.pro_top
{
 width:950px;
 height:50px;
 line-height:30px;
 border-bottom:1px solid #78bc27;
}


.top_sp1
{
	 float:left;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	color:#000;
	
}
.top_sp2
{
 float:left;
 margin:0 3px 0px 8px;
}

.top_sp3
{
	font-family:Verdana;
	font-size:12px;
	color:#000;
	height:30px;
}

.pro_main1
{
 float:left;
 width:804px;
 height:250px;	
 margin:0 auto;
}

.pro_tit1
{
 float:left;
 width:100%;
 height:20px;
 line-height:20px;
 margin-top:20px;
 margin-bottom:20px;
	
}
.tit_sp1
{
 padding-left:10px;
 padding-right:20px;
 float:left;
 font-family:Verdana;
 font-size:14px;
 font-weight:bold;
 color:#78bc27;
 background-color:#f2f2f2;
}
.tit_sp2
{
 float:right;
 font-family:Verdana; font-size:12px;
}

.pro_pic1
{
 width:100%;
 float:left;
}

.pro_sp1
{
}

.pro_sp2
{
 width:231px;
 height:20px;
 line-height:20px;
 float:left;
 background-color:#fff;
 font-family:Verdana;
 font-size:12px;
 color:#fff;
 text-indent:10px;
  text-overflow:ellipsis; white-space:nowrap; overflow:hidden;
}

.pro_all
{
 height:179px;
    
}

.pro_tb1
{
 width:950px;
 height:280px;
 float:left;

}

.pro_td1
{
 width:20px;
}
.pro_td2
{
 width:950px;
 height:40px;
 line-height:30px;
  float:left;
  border-top:1px dashed  #999999;
 
}
.pro_td21
{
 width:950px;
 height:40px;
 line-height:30px;
 float:left;


}


.car_tit1
{
 float:left;
 font-family:Verdana;
 font-size:12px;
 margin-right:6px;
 color:#999;
}

.car_tit1a
{
 float:left;
 font-family:Verdana;
 font-size:12px;
 margin-right:6px;
 color:#000;
}


.car_tit2
{
 float:left;
 font-family:Verdana;
 font-size:14px;
 margin-right:2px;
 color:#000;
}

#dv01 a:link{ text-decoration:none; color:#999999;}
#dv01 a:visited{ text-decoration:none;  color:#999999;}
#dv01 a:hover{ text-decoration:none; color:#999999;}
#dv01 a:active{ text-decoration:none; color:#999999;}

.dv01{height: 40px; margin-top:20px; float: left; width: 400px; cursor:pointer;}

.pic_line1
{
 border:1px solid #fff;
 cursor:pointer;
  -moz-box-shadow: 1px 1px 1px #fff;
  -webkit-box-shadow: 1px 1px 1px #fff;
  box-shadow: 1px 1px 1px #fff;
}

.view_line1
{
   border:1px solid #e0e0e0;
 cursor:pointer;
  -moz-box-shadow: 1px 1px 1px #e0e0e0;
  -webkit-box-shadow: 1px 1px 1px #e0e0e0;
  box-shadow: 1px 1px 1px #e0e0e0;  
    
}

.pro_line
{
  width: 231px; 
  height: 199px; 
  float: left; 
  border: 1px solid #e0e0e0;
  margin-right: 4px;  
  cursor:pointer;
  -moz-box-shadow: 1px 1px 1px #e0e0e0;
  -webkit-box-shadow: 1px 1px 1px #e0e0e0;
  box-shadow: 1px 1px 1px #e0e0e0;
}

/*  */

.pshow_main
{
 width:998px;
 float:left;
 background-color:#fff;
 border:1px solid #000;
}

.jc_body_ps
{
 width:998px;
 float:left;
 background-color:#fff;

}

.jc_body_show
{
 width:998px;
 height:680px;
 float:left;

}



.fxtitle
{
  font-family:Verdana;
  font-size:20px;
  font-weight:bold;	
}

.fxsp1
{
 font-family:Verdana;
 font-size:14px;
 font-weight:bold;
 color:#999999;
}
.fxsp1 a{color:#999999;}

#fxm1
{
width: 40%;
  float: left;
}

#fxm1 ul
{
 list-style-type:none;	
}

#fxm1 ul li 
{
 float:left;
 font-family:Verdana;
 font-size:12px;
 background-color:#bfbfbf;
 color:#fff;
 width:90px;
 height:20px;
 line-height:20px;
 text-align:center;	
}

#fxm1 ul li
{ cursor:pointer;
}
#fxm1 .a1{float: left; font-family:Verdana; font-size: 12px; color: #999999; line-height:20px; margin-top:10px; white-space:normal; width:500px;word-break : break-all; }
#fxm1 ul .a2{ background:#000;}
.dino{display:none;}

/* */

.dlc_txt1
{
 width:390px;
 font-family:Verdana;
 font-size:20px;
 font-weight:bold;
 text-align:center;
 margin:0 auto;
}

.dlc_txt3
{
 width:395px;
 font-family:Verdana;
 font-size:20px;
 float:left;
 background-color:#000;
 color:#fff;
 height:30px;
 line-height:30px;
 padding-left:5px;
}

.dlc_text2
{
 font-family:Verdana;
 font-size:12px;
 line-height:20px;
 width:390px;
 margin:0 auto;
 margin-bottom:10px;
	
}

.login_dl1
{
 width:250px;
 font-family:Verdana;
 font-size:12px;
 margin:0 auto;
 margin-top:10px;
 margin-bottom:10px;
}
.login_dl2
{ 
	width:250px;
	margin:0 auto;
}

.login_dl3
{
 width:40px;
 text-align:center;
 height:20px;
 line-height:20px;
 background-color:#000000;
 color:#fff;
 font-family:Verdana;
 font-size:12px;
 margin:10px 0 130px;
 cursor:pointer;
 	border-radius: 5px;
}
.login_dl31
{
 width:40px;
 text-align:center;
 height:20px;
 line-height:20px;
 background-color:#000000;
 color:#fff;
 font-family:Verdana;
 font-size:12px;
 margin:10px 0 30px;
 cursor:pointer;
 border-radius: 0px;
}

.login_dl32
{
 width:40px;
 text-align:center;
 height:20px;
 line-height:20px;
 background-color:#000000;
 color:#fff;
 font-family:Verdana;
 font-size:12px;
 margin:10px 0 30px;
 cursor:pointer;
 border-radius: 0;
  border:none;
  margin-left:50px;
}

.login_dl4
{
 width:180px;
 float:left;
  height:20px;
 line-height:20px;
 color:#ff0000;
 margin:10px 0 0 20px;
}

.link01{ font-family:Verdana;font-size:12px; text-decoration:none;}
.link02{ font-family:Verdana;font-size:12px; text-decoration:none; color:#999;}
.link03{ color:#fff;font-family:Verdana;font-size:12px; text-decoration:none;}
.link04{color:#999;font-family:Verdana;text-decoration:none;}
.ul01 li a{ color:#fff;font-family:Verdana;font-size:12px; text-decoration:none;}
#blog_bq1{ width:200px; margin-left:26px;}
#blog_bq1 li{  line-height:26px;}

#pagination-digg { float:left;width:200px; padding:0; margin:0;}
#pagination-digg li{ float:left; font-size:12px; width:15px;list-style-type:none; font-family:Verdana;}
#pagination-digg li a{ color:#999;}
 .active{color:#000;}
 .previous-off{}
 .psp1
 {
   color:#999;
   font-size:16px;
   height:20px;
   line-height:12px;
 }
 
 .search_sp4
{
 float:right;
 margin-right:10px;
}
.search_sp4 a{ color:#fff;}

.search_sp5
{
 float:right;
 margin-left:5px;
 margin-right:5px;
}

.search_sp6
{
 float:right;
}

/* Secutity  */
.jc_body_avd1
{
  width:998px;
  float:left;
  background-color:#fff;
  border:1px solid #eeeeee;
  margin-top:5px;
}

.avd_title
{
 width:960px;
 height:20px;
 line-height:20px;
 border-bottom:1px solid #bde800;
 margin:0 auto;
 margin-top:30px;
}

.avd_tit1
{
 float:left;
 font-family:Verdana;
 font-size:12px;
 font-weight:bold;
 margin-right:2px;
}

.avd_tit2
{
 float:left;
 font-family:Verdana;
 font-size:14px;
 font-weight:bold;
 color:#999999;
 margin-left:2px;
}
.avd_txt1
{
 width:280px;
 font-family:Verdana;
 font-size:18px;
 font-weight:bold;
 text-align:center;
 margin:0 auto;
 margin-top:50px;
}

.avd_text2
{
 font-family:Verdana;
 font-size:12px;
 line-height:20px;
  text-align:center;
 width:280px;
  margin:0 auto;
  margin-top:10px;
  margin-bottom:10px;
}

.avd_text3
{
 font-family:Verdana;
 font-size:12px;
 font-weight:bold;
 line-height:20px;
 width:280px;
  margin:0 auto;
  margin-top:10px;
  margin-bottom:120px;
    text-align:center;
}


.sec_txt1
{
 font-family:Verdana;
 font-size:18px;
 font-weight:bold;
 text-align:center;
}
.sec_txt2
{
 font-family:Verdana;
 font-size:12px;
  text-align:center;
  margin-top:10px;
}
.sec_txt2 div{ margin:10px 0 10px 0;}
.sec_txt3
{
 font-family:Verdana;
 font-size:12px;
  text-align:center;
  margin-top:20px;	
}
.sec_txt4
{
text-align:center;
margin-top:10px;
}
.sec_txt5
{
 font-family:Verdana;
 font-size:18px;
 font-weight:bold;
  text-align:center;
  margin-top:40px;	
}
.sec_txt6
{
 font-family:Verdana;
 font-size:12px;
  text-align:center;
  margin-top:10px;
}

.textbox2
{
 outline:none;	 border:1px solid #000; padding:3px 5px 3px 5px;border-radius: 0; width:218px; background-color:#ddff49;
}

 .login_sec1
{
 width:256px;
 font-family:Verdana;
 font-size:12px;
 margin:0 auto;
 margin-top:10px;
 margin-bottom:10px;
}
.login_sec2
{ 
	width:256px;
	margin:0 auto;
}

.med_txt1
{
 width:280px;
 font-family:Verdana;
 font-size:18px;
 font-weight:bold;
 text-align:center;
 margin:0 auto;
 margin-top:50px;
}

.med_text2
{
 font-family:Verdana;
 font-size:12px;
 line-height:20px;
 width:360px;
 text-align:center;
  margin:0 auto;
  margin-top:10px;
  margin-bottom:10px;
}

.med_text3
{
 font-family:Verdana;
 font-size:12px;
 font-weight:bold;
 line-height:20px;
 width:180px;
  margin:0 auto;
  margin-top:20px;
  margin-bottom:120px;
}

.med_sp1
{
 width:180px;
 float:left;
 text-align:center;	
}

/* career */

.jc_body_car
{
  width:998px;
  float:left;
  background-color:#fff;
  border:1px solid #eeeeee;
  margin-top:5px;
}


.jc_body_car1
{
 width:960px;
 height:60px;
 margin:0 auto;	
}

.car_title
{
 width:960px;
 height:20px;
 line-height:20px;
 border-bottom:1px solid #bde800;
 margin-top:28px;
 font-family:Verdana;
 font-size:12px;
 font-weight:bold;
}


.car_tit1x
{
 float:left;
 font-family:Verdana;
 font-size:14px;
 margin-right:2px;
 color:#999999;
}

.car_tit2
{
 float:left;
 font-family:Verdana;
 font-size:14px;
 margin-right:2px;
 color:#000;
}

.car_body_1
{
  width:960px;
  height:500px;
  margin:0 auto;
}

.car_bl
{
 float:left;
 width:450px;
  height:99%;
}

.car_br
{
 float:right;
 width:450px;
 height:99%;
 background-color:#bfbfbf;	
}

.car_da1
{
 overflow-x:hidden; 
 overflow-y:auto;  
 max-height:460px;
 word-break:break-all;
 font-family:Verdana;
 font-size:12px;
 padding:5px 0 9px 10px;	
  width:430px;
  SCROLLBAR-ARROW-COLOR:#999;
SCROLLBAR-FACE-COLOR:#999;
SCROLLBAR-DARKSHADOW-COLOR:#999;
SCROLLBAR-HIGHLIGHT-COLOR:#999;
SCROLLBAR-3DLIGHT-COLOR:#999;
SCROLLBAR-SHADOW-COLOR:#999;
SCROLLBAR-TRACK-COLOR:#CCCCCC;
}

::-webkit-scrollbar-track-piece{background-color:#f4f4f4;-webkit-border-radius:1;}
::-webkit-scrollbar{width:8px;height:8px;}
::-webkit-scrollbar-thumb{background-color:#999;-webkit-border-radius:4px;outline-offset:-2px;}
::-webkit-scrollbar-thumb:hover{background-color:#9f9f9f;-webkit-border-radius:4px;}
.car_txt1
{
 font-family:Verdana;
 font-size:18px;
 font-weight:bold;
}
.car_txt2
{
font-family:Verdana;
 font-size:12px;
 line-height:20px;
 margin-top:5px;
 margin-bottom:5px;
}
.car_txt3
{
 font-family:Verdana;
 font-size:18px;
 font-weight:bold;	
 margin-top:50px;
}

.car_sp1
{
 font-family:Verdana;
 font-size:14px;
 width:300px;
}

.car_sp2
{
 font-family:Verdana;
 font-size:12px;
 color:#999999;	
 float:right;
 cursor:pointer;
 margin-right:10px;
 margin-left:10px;
}

.car_pic1
{
 float:right;
}

#car_pbox div
{
 width:500px;
 margin-top:5px;
 margin-bottom:5px;
}

/* news */

.jc_body_new
{
 width:998px;
 float: left;
 background-color:#fff;
 border:1px solid #eeeeee;
 margin-top:5px;
 }


.jc_body_new1
{
 width:960px;
 margin:0 auto;	
}

.new_title
{
 width:960px;
 height:20px;
 line-height:20px;
 border-bottom:1px solid #bde800;
 margin-top:28px;
 font-family:Verdana;
 font-size:12px;
 font-weight:bold;
}

.new_tit1
{
	float:left;
 font-family:Verdana;
 font-size:14px;
 font-weight:bold;
 margin-right:2px;
}

.jc_news_body
{

 width:960px;
 float:left;
}
.news_bodyl
{
 float:left;
 width:700px;
 height:420px;

}

.news_bodyr
{
 float:right;
 width:260px;
 height:420px;


}

.jc_news_foot1
{
 float:left;
 width:800px;
 height:40px;
 line-height:30px;
 margin:0 auto;
 font-family:Verdana;
 font-size:12px;
 margin-top:20px;

}

.jc_news_body_2
{
 width:804px;
 height:150px;
 margin:0 auto;
 float:left;
 border-top:1px solid #999;
 font-family:Verdana;
 font-size:12px;
 color:#999999;
 margin-top:20px;
}


#news_bq1
{
 list-style-type:none;
 padding:0;
 margin:0;
 float:left;
}
#news_bq2
{
 list-style-type:none;
 padding:0;
 margin:0;
}
#news_bq1 li
{ 
 margin-top:10px;
 margin-left:30px;

}


#news_bq2 li
{
 margin-left:30px;
 margin-top:10px;	
 float:left;text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:250px;
}

.news_d1
{
	float:left;
	font-family:Verdana; font-size: 12px; color: #999999;
}

.news_d2
{
	float:left;
	font-family:Verdana; font-size: 12px; color: #999999; margin-left:15px;
}

.dw01{ width:80px;}
.dw02{ width:10px;}

.fb{ font-weight:bold;}

.blog_bt1
{
 width:260px;
 height:30px;
 line-height:30px;
 margin-top:16px;
 margin-bottom:10px;
}
.blog_bt2
{
 width:280px;
 height:30px;
 line-height:30px;
 margin-top:30px;
 margin-bottom:10px;
 float:left;
}

.bt_sp1
{
 width:20px;
 float:left;
 margin-right:5px;
 margin-top:5px;	
}

.bt_sp2
{
 float:left;
 font-family:Verdana;
 font-size:14px;
 color:#000000;	
}

#blog_bq1 ul
{
 list-style-type:none;
 width:280px;
 padding:0;
 margin:0;
 font-family:Verdana;
 font-size:12px;

}

#blog_bq1 ul li
{
 height:26px;
 line-height:26px;
 text-indent:20px;	
}

.blog_til1
{
 height:30px;
 font-family:Verdana;
 font-size:20px;
 font-weight:bold;
 color:#000;
 margin-top:33px;
  float:left;
}
.blog_pic1
{
  margin-left:26px;
  margin-top:36px;	

	
}

.blog_login1
{
 width:250px;

 margin-left:28px;
 margin-top:10px;
}

.login_sp1
{
 float:left;
 width:250px;
  font-family:Verdana;
  font-size:12px;
  margin-top:4px;
  margin-bottom:4px;	
}

.login_sp2
{
 width:250px;	
}
.submit
{
 width:250px;
 margin-top:10px;	
}

.blog_text1
{
 float:left;
 width:100%;
 margin-top:30px;
 font-size:12px;	
}

.text_sp1
{
 margin-left:10px;
 margin-right:10px;	
}


.sp-mbox
{
    width: 150px;
    height: 52px;
    margin: 0;
    padding: 0;
    position: absolute;
    background-image:url(../images/blog_22.png)
}
.sp-mbox ul,.sp-mbox li{list-style:none; margin:10px 5px 0px 5px; padding:0;}
.sp-mbox ul li{ height: 25px; width:25px; background-image: url(../images/blog_26.png)/*{iconsContent}*/;}


.sp-mbox1
{
    margin: 0;
    padding: 0;
    border:1px solid #000;
    float:left;
}
.sp-mbox1 ul,.sp-mbox1 li{list-style:none;padding:0; margin:0;}
.sp-mbox1 ul li{ height: 25px; width:25px; margin-top:5px; background-image: url(../images/fx_icon.png)/*{iconsContent}*/;}



.a-icon-w{ background-position: -25px 0;}
.a-icon-f{ background-position: -50px 0;}
.a-icon-t{ background-position: -75px 0;}
.a-icon-g{ background-position: -100x 0;}
.a-icon-u{ background-position: -125px 0;}



.jc_body_dlc
{
 width:998px;
  float:left;
  margin-top:5px;
  background-color:#fff;
  border:1px solid #eeeeee;
}

.jc_body_dl
{
 width:960px;
 height:20px;
 line-height:20px;
 border-bottom:1px solid #bde800;
 float:left;
 margin-top:28px;
}

.dlc_title
{
 width:960px;
 height:20px;
 line-height:20px;
 font-family:Verdana;
 font-size:12px;
 font-weight:bold;
 float:left;
}

#lgt {font-family: Verdana; font-size: 12px; white-space:nowrap; float:right; margin-right:20px;}
#lgt a:link{ text-decoration:none; color:#000;}
#lgt a:visited{ text-decoration:none;  color:#000;}
#lgt a:hover{ text-decoration:none; color:#000;}
#lgt a:active{ text-decoration:none; color:#000;}


/* blog */

.jc_blog_body
{

width:998px;
  float:left;
  margin-top:5px;
  background-color:#fff;
  border:1px solid #eeeeee;

	
}
.blog_bodyl
{
 float:left;
 width:650px;
 height:100%;
 margin-left:20px;
}

.blog_bodyr
{
 float:right;
 width:298px;
 height:100%;
}


.jc_blog_foot1
{
 float:left;
 width:800px;
 height:40px;
 line-height:30px;
 font-family:Verdana;
 font-size:12px;
 margin-top:20px;
 margin-left:20px;
 

}

/* mbox */


#mbox
{
    float:left;
    display: none; 
    position:relative;
    background: #000;
    filter: alpha(opacity=90) !important;
    opacity: 0.8;
    z-index:9999;
}

#mbox  a:link{ text-decoration:none; color:#6f6f6f;}
#mbox  a:visited{ text-decoration:none;  color:#6f6f6f;}
#mbox  a:hover{ text-decoration:none; color:#6f6f6f;}
#mbox  a:active{ text-decoration:none; color:#6f6f6f;}

.mbox_dv1
{
 width: 132px; 
 min-height:50px;
 float: left;
 margin-left:8px;
 cursor:default;

}
.mbox_title
{
  height:30px;  
  font-family:Verdana;
  font-size:14px;
  color:#fff; 
  font-weight:bold;
  border-bottom:1px solid #6f6f6f;
  text-align:left;
}


#mta a:link{ text-decoration:none; color:#fff;}
#mta a:visited{ text-decoration:none;  color:#fff;}
#mta a:hover{ text-decoration:none; color:#fff;}
#mta a:active{ text-decoration:none; color:#fff;}



.mbox_c1
{
  height:25px;   
  line-height:25px;
  font-family:Verdana;
  font-size:12px;
  text-align:left;
   color:#6f6f6f;
  text-overflow:ellipsis; white-space:nowrap; overflow:hidden;
}

.mbox_dv2
{
 width: 150px; 
 float: left;
 margin-top:20px;
 margin-left:10px;
 
}

/*  view  */

.view_body
{
 width: 960px; 
 margin:20px;
}

.view_all
{
 width:231px;
 float:left;  
}

.view_sp1
{
 float:left;
 width: 231px;
 border:1px solid #b7e309;
}

.view01{width: 231px; float: left; font-family:Verdana;font-size: 13px; color: #999999; margin-top:2px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden; height:20px;}
.view01 a{ color: #999999;}
.fs02{ font-weight:bold;}
.fs03{ color:#999;}
.dv02{height: 40px ;float: left; width: 960px; margin-top:10px;}
.dv02_x1
{
 float:left;
 font-family:Verdana;
 font-size:14px;
 font-weight:bold;
 color:#78bc27;
 background-color:#f2f2f2; 
 padding-right:20px;
 text-indent:10px;
 height:25px;
 line-height:25px; 
}

.dv02_x2
{
 float:right;
 font-family:Verdana;
 font-size:12px;
 color:#78bc27;
 padding-right:20px;
 text-indent:10px;
 height:25px;
 line-height:25px; 
}

.view_where
{
 width:960px;
 height:40px;
 line-height:40px;
 margin:0 auto;
 border-bottom:1px solid #bde800;
}

#view_where  a:link{ text-decoration:none; color:#999;}
#view_where  a:visited{ text-decoration:none;  color:#999;}
#view_where  a:hover{ text-decoration:none; color:#999;}
#view_where  a:active{ text-decoration:none; color:#999;}


/* download  */

.ld01{line-height:25px; height:25px; vertical-align:middle; font-family:Verdana;}

#list01{ width:100%; margin: 40px 0;}

#list01 ul{ width:100%; float:left; height:100%; margin-bottom:20px;}
#list01 ul li{ width:100%; float:left; height:100%;line-height:28px; height:28px; }
#list01 ul li span a{ color:#999; font-size:16px;}

.fs03{ color:#999;}

.limg{ font-size:14px; padding-left:5px; cursor:pointer; }
.rimg{ font-size:14px; padding-right:5px;cursor:pointer;}

.jc_body_dlm
{
  width:998px;
  float:left;
  background-color:#fff;
  border:1px solid #eeeeee;
  margin-top:5px;
    
}

.dlm_t
{
  width:100%;
  height:40px;
  float:left;
  line-height:40px;
 
}

.dlm_border
{  
   width:960px;
   margin:0 auto;
   height:40px;
   line-height:50px;
   border-bottom:1px solid #78bc27 
}

.dlmore_div1
{
  width:801px;
  float:left;
  margin-bottom:5px;
  margin-top:5px;
}

.bg01{ background-color:#fff; height:100%;}

.et01 {
font-size:22px;
line-height: 10px;
color: #bfbfbf;
position:absolute;
margin-left:22px;
margin-left:1px\9;
}


.dlm_sp1
{
 font-family:Verdana;
 font-size:14px;
 margin-right:6px;
 color:#999999;
}





.function{margin: 0; margin-right:10px;}
.function .lan{float:right;width:100px;background:url(../images/lanBG.png) no-repeat 0 0;text-align:center;font-family:Verdana; color:#000;margin:10px 6px 0 ;display:inline;position:relative;z-index:3;cursor:pointer;margin: 0;}
.function .lan span{position:relative;top:0;left:0px;width:100px;height:18px; line-height:18px; z-index:2;background:url(../images/arrowDown.jpg) no-repeat 84px 6px;display:block;padding:0 9px 0 0;font-size:12px;margin: 0;}
.function .lan ul{position:absolute;top:10px;left:0px;background:url(../images/lanSBG.png) no-repeat 0 bottom;_background:url(../images/lanSBG.gif) no-repeat 0 bottom;width:100px;z-index:1;padding:10px 9px 4px 0;display:none;margin: 0;}
.function .lan ul li a{ font-family:微软雅黑; font-size:12px; color:#fff;}

#lan a:link{ text-decoration:none; color:#a1aab1;}
#lan a:visited{ text-decoration:none;  color:#a1aab1;}
#lan a:hover{ text-decoration:none; color:#78bc27;}
#lan a:active{ text-decoration:none; color:#a1aab1;}


.pro_line_v
{
  width: 231px; 
  height: 220px; 
  float: left; 
  margin-top:5px;
   margin-right: 4px;  

}

.pro_all_v
{
  height:179px;
  border: 1px solid #e0e0e0;
  cursor:pointer;
  -moz-box-shadow: 1px 1px 1px #e0e0e0;
  -webkit-box-shadow: 1px 1px 1px #e0e0e0;
  box-shadow: 1px 1px 1px #e0e0e0;
    
}

.pro_sp1_v
{
}

.pro_sp2_v
{
 width:231px;
 height:20px;
 line-height:20px;
 float:left;
 background-color:#f3ffd9;
 font-family:Verdana;
 font-size:12px;
 color:#a8ada7;
 text-indent:10px;
 margin-top:10px;
 text-overflow:ellipsis; white-space:nowrap; overflow:hidden;
}

.view_fgx1
{
 width:960px;
 float:left;
}

.view_fgx2
{
 width:960px;
float:left;
 border-top:1px dashed  #eeeeee;  
}

.fx_icondiv
{
    float:left; 
}

#fx_icondiv li
{
        display:block;
        width:25px;
        height:25px;
        text-align:center;
        background-image: url(../images/fx_icon.png);
        background-repeat: no-repeat;
        cursor:pointer;
        text-decoration: none;
        float:left;
        margin-left:5px;
}
 
#fx_icondiv li.c1 {background-position: 0px  0px;}
#fx_icondiv li.c2 {background-position: -25px 0px;}
#fx_icondiv li.c3 {background-position: -50px 0px;}
#fx_icondiv li.c4 {background-position: -75px 0px;}
#fx_icondiv li.c5 {background-position: -100px  0px;}

#fx_icondiv li.c1:hover {background-position: 0px  -25px;}
#fx_icondiv li.c2:hover {background-position: -25px -25px;}
#fx_icondiv li.c3:hover {background-position: -50px -25px;}
#fx_icondiv li.c4:hover {background-position: -75px -25px;}
#fx_icondiv li.c5:hover {background-position: -100px  -25px;}
.sx{
        display:block;
        width:25px;
        height:25px;
        background-image: url(../images/fx_icon.png);
        background-repeat: no-repeat;
        cursor:pointer;
        text-decoration: none;
        float:left;
        margin-left:5px;
        border:0;
}
.sx.c5 {background-position: -100px  0px;}
.sx.c5:hover {background-position: -100px  -25px;}
#n_list
{
  font-family:Verdana;
  font-size:12px;
  margin-top:20px;
}

#n_list ul
{
  list-style-type:none;  
  padding:0;
  margin:0;
}

#n_list li
{
  width:600px;
  height:30px;
  line-height:30px;
  color:#78bc27;
}


#n_list li a 
{
 color:#000;
}

.nsp1
{
 float:left;
 width:500px;
 margin-left:8px;   

}

.nsp2
{
  float:left; 
  color:#999;
}

.news_bodylx
{
 float:left;
 width:640px;
 height:100%;

}

.news_bodyrx
{
 float:right;
 width:300px;
 height:100%;


}

.ns_title
{
 width:960px;
 height:20px;
 line-height:20px;
 margin-top:28px;
}

.ns_til1
{
 width:99%;
 text-align:center;
 height:30px;
 line-height:30px;
 font-family:Verdana;
 font-size:16px;
 font-weight:bold;
 margin-top:15px;
}

.ns_text1
{
  width:99%;
}

.ns_footer1
{
 width:99%;
 height:30px;
 line-height:30px;
 font-family:Verdana;
 font-size:12px;
 margin-top:15px;
 margin-left:15px;
 margin-bottom:20px;   
}

#fx_link1 li
{
   height:25px;
}

.ya{padding-left:5px;}