.panel
{
background-color:#FFF;
width:1000px;
height:300px;
text-align:left;
}
.info-section{
width:825px;
border:1px solid #333;
margin-top:20px;
position:relative;
overflow:hidden;
background:#222 url(../index_files/bg.png) 0 0 repeat-y;
-webkit-box-shadow:0 10px 6px -6px #777;
-moz-box-shadow:0 10px 6px -6px #777;
box-shadow:0 10px 6px -6px #777;
}
.form-panel{
position:relative;
float:left;
width:190px;  
padding:10px; 
font-size:12px;
color:#000;
background-color:#EEE;
}
.form-sec{
margin-bottom:10px;
}
.description{
position:relative;
float:left;
width:585px;
padding:15px;
color:#FFF;
font-size:14px;
}
select{
width:190px;
}
label.disable{
color:#777;
}
.copyright{
width:100%;
text-align:right;
font-size:12px;
margin:15px 0;
}
.layer-title{
font-size:20px;
}
.grad-button{
width:120px;
height:35px;
background-color:#000;
background:-moz-linear-gradient(#555, #000);
background:-webkit-gradient(linear, 0 top, 0 bottom, from(#555), to(#000));
border:1px solid #111;
position:relative;
line-height:35px;
text-align:center;
color:#efefef;
text-shadow:0 1px 0 #222;
font-size:14px;
font-weight:bold;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
}
a:hover .grad-button{
color:#0066FF;
}
.container{
width:auto;
height:auto;

}