﻿div,ul,li,img{padding:0;}
ul,li{list-style:none;}
#gallery {width:801px; margin:0 auto;}
#image {margin:0 auto; position:relative; width:801px; height:530px;background:#FFF url(../images/loading.gif) center center no-repeat}
#image img {position:absolute;}
#thumbwrapper { margin:0 auto; width:801px; height:140px;background:#FFF; margin-top:5px; }
#thumbarea { height:140px; width:801px; margin:11px 0 35px 0; }
#thumbs {list-style:none; height:100px; width:661px; margin:0 auto; }
#thumbs li { float:left; cursor:pointer; width:148px; height:98px; border:1px solid #999999; margin-right:15px;}
#thumbs .cb { border:1px solid #999999;}
#thumbs .cur{ border:1px solid #000;}

